{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 460px;
    margin-left: 5%;
    border: 2px solid rgb(244, 154, 196);
    background-color: rgb(244, 154, 196);
  }

  .form {
    width: 50%;
    padding: 20px;
  }

  .form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-right: 2px solid rgb(248, 82, 160);
  }

  .form form {
    width: 50%;
    padding: 20px;
  }

  .field {
    margin-bottom: 10px;
    text-align: center;
  }

  .field label {
    display: block;
    margin-bottom: 5px;
  }

  .field select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .field input[type="submit"] {
    background-color: rgb(248, 82, 160);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }

  .field input[type="submit"]:hover {
    background-color: rgb(240, 23, 124);
  }

  .signup_link {
    margin-top: 10px;
    margin-left: 25px;
  }

  .signup_link a {
    color: blue;
  }
</style>

<div class="container">
  <div class="form">
    <form method="post">
      {% csrf_token %}
      <h1 style="text-align: center;">Select Your Institution</h1><br>
      <div class="field">
        <label>Institution Name :</label>
        <select name="institution_name">
          <option value="kct">KCT</option>
          <option value="kclas">KCLAS</option>
        </select>
      </div>
      <h1 style="text-align: center;">Your Role</h1><br>
      <div class="field">
        <label>Who Am I? :</label>
        <select name="role">
          <option value="student">Student</option>
        </select>
      </div>
      <div class="field">
        <input type="submit" value="Submit">
      </div>
      <div class="message">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
    </form>
  </div>
  <img src="{% static 'image/institution.png' %}" style="width: 20%;">
</div>
<script type="text/javascript">
  function noBack() {
    window.history.forward();
  }
  noBack();
  window.onload = noBack;
  window.onpageshow = function(evt) { if (evt.persisted) noBack(); }
  window.onunload = function() { void (0); }
</script>
{% endblock %}
